<div id="message-<%= message.id %>">
  <small>
    <div class="d-flex flex-row">
      <div class="p-2"><%= cl_image_tag message.character.photo.key, width: 50, height: 50, crop: :fill, radius: 50 %></div>
      <div class="p-2"><%= message.character.name %></div>
      <div class="p-2"><i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i></div>
      <div class="p-2"><%= message.content %></div>
    </div>
  </small>
</div>
