<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <div class="d-flex justify-content-start">
    <div class="p-2"><h2>#<%= @chatroom.name %></h2></div>
  </div>
  <div class="d-flex justify-content-end">
    <div class="d-flex justify-content-between p-2">
      <div class="p-2"><p>You are chatting as <%= current_character.name %></p></div>
      <div class="p-2 avatar"><%= cl_image_tag current_character.photo.key, width: 40, height: 40, crop: :fill, radius: 50 %></div>
    </div>
    <div class="p-2"><%= link_to 'Choose a different character', new_character_session_path %></div>
  </div>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
       <%= render "messages/message", message: message %>
      <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
    remote: true,
    html: {data: {action: "ajax:success->chatroom-subscription#resetForm"}, class: "d-flex" } do |f|
  %>
    <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}", wrapper_html: {class: "flex-grow-1"} %>
    <%= f.submit "Send", class: "btn btn-primary" %>
  <% end %>

</div>
