<div class="form-container">
  <%= simple_form_for(character) do |f| %>
    <div class="mb-3">
      <%= f.input :name, class: 'form-control form-border' %>
    </div>
    <div class="mb-3">
      <%= f.input :world, class: 'form-control form-border' %>
    </div>
    <div class="mb-3">
      <%= f.input :race, class: 'form-control form-border' %>
    </div>
    <div class="mb-3">
      <%= f.input :photo, as: :file, class: 'form-control form-border' %>
    </div>
    <div class="mt-3">
      <%= link_to 'Cancel', characters_path , class: 'btn  ms-2 submit-button' %>
      <%= f.submit class: 'btn nav-btn' %>
    </div>
  <% end %>

</div>
