<div class="characters-header">
  <div>
    <h1 class="chatrooms-title">Search the characters</h1>
  </div>
  <div id= "search-form" >
      <%= render "search_form", character: @character %>
  </div>
</div>

<div class="flip-cards d-flex justify-content-around align-items-center mb-5 mt-5 pl-5 pr-5">
  <% @characters.each do |character| %>
    <%= link_to character_path(character) do %>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <% if character.photo.attached? %>
            <%= cl_image_tag character.photo.key, width: 200, height: 200, crop: :fill, radius: 10 %>
          <% else %>
            <%= image_tag 'https://res.cloudinary.com/dlzusxobf/image/upload/v1653923867/development/character_j1ujrb.jpg' %>
          <% end %>
        </div>
        <div class="flip-card-back">
          <div class="flip-card-info d-flex flex-column align-items-center pt-3">
            <p> name : <%= character.name %> </p>
            <p> race : <%= character.race %> </p>
            <p> From : <%= character.world %> </p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
