
<div>
  <%= @character.name %>
  <%= @character.race %>
  <%= @character.world %>
</div>
<div>
  <%= link_to 'Edit', edit_character_path(@character) %>
  <%= link_to "Remove", character_path(@character),
    method: :delete,
    data: { confirm: "Are you sure?" },
    class: "btn"
  %>
  <%= link_to 'Add a new room for this character', new_character_chatroom_path(@character) %>
</div>
<div>
<% if @character.photo.attached? %>
  <%= cl_image_tag @character.photo.key, height: 300, width: 400, crop: :fill %>
<% else %>
  <%= image_tag 'https://res.cloudinary.com/dlzusxobf/image/upload/v1653923867/development/character_j1ujrb.jpg', crop: :fill %>
<% end %>
</div>
<h2> Chatrooms that belong to <%= @character.name %></h2>
<div>
  <% @character.chatrooms.each do |chatroom| %>
  <div>
    <%= link_to chatroom.name, chatroom_path(chatroom) %>
  <% end %>
  </div>
</div>

