
<div>
  <%= @character.name %>
  <%= @character.race %>
  <%= @character.world %>
</div>
<div>
  <%= link_to 'Edit', edit_character_path(@character) %>
  <%= link_to 'Choose this character', new_character_roleplay_path(character_id: @character.id) %>
  <%= link_to "Remove", character_path(@character),
    method: :delete,
    data: { confirm: "Are you sure?" },
    class: "btn"
  %>
  <%= link_to 'Add a new room for this character', new_character_chatroom_path(@character) %>
</div>
</div>
<div>
<% if @character.photo.attached? %>
  <%= cl_image_tag @character.photo.key, crop: :fill, class: 'character-photo', id: 'characters-photo'%>
<% else %>
  <%= image_tag 'https://res.cloudinary.com/dlzusxobf/image/upload/v1653923867/development/character_j1ujrb.jpg', crop: :fill, class: 'character-photo', id: 'characters-photo' %>
<% end %>
</div>
</div>

<h2> Chatrooms that belong to <%= @character.name %></h2>
<div>
<% @character.chatrooms.each do |review| %>
  <div><h3><%= @reviewers.sample %></h3> <%= "#"chatroom.name %></div>
  <% end %>
