<div class="character-container slider"  data-controller="carousel">
  <button class="btn btn-next carousel-control" data-action="click->carousel#moveForward">></button>
  <div class="slide" data-carousel-target="slide">
    <% @characters.each do |character| %>
      <%= link_to characters_path do %>
        <div class="character">
          <p class="character-name"><%= character.name %></p>
          <%= cl_image_tag character.photo.key, class: "character-avatar" %>
        </div>
      <% end %>
    <% end %>
    <% (5- @characters.count).times do %>
      <%= link_to characters_path do %>
        <div class="character">
          <p class="character-name">.</p>
          <img class="character-avatar" src="assets/plus-sign2">
        </div>
      <% end %>
    <% end %>
  </div>
  <button class="btn btn-prev carousel-control"  data-action="click->carousel#moveBackwards"><</button>
</div>

<% @characters.each do |character| %>
  <%= link_to characters_path do %>
    <div class="character">
      <p class="character-name"><%= character.name %></p>
      <%= cl_image_tag character.photo.key, class: "character-avatar" %>
    </div>
  <% end %>
<% end %>
