<!DOCTYPE html>
<html>
  <head>
    <title>Myutopia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% unless controller_name == "chatrooms" && action_name == "index" || action_name == "show" %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>

    <% if controller_name == "chatrooms" && action_name == "show" %>
    <body style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @chatroom.photo.key, height: 300, crop: :fill %>')">
    </body>
    <% end %>






    <%= yield %>

  </body>
</html>
